<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="SiteKit.IdGenSalt" value="123456789" />
      <setting name="SiteKit.Layout.DeviceId" value="{FE5D7FDF-89C0-4D99-9AA3-B5FBD009C9F3}" />
      <setting name="SiteKit.Layout.MainPlaceholder" value="headless-main" />
    </settings>
    <pipelines>
      <validateYamlData>
        <processor type="SiteKit.Processors.ReadYaml, SiteKit"/>
        <processor type="SiteKit.Processors.LoadTypes, SiteKit"/>
        <processor type="SiteKit.Processors.CompositionResolver, SiteKit"/>
        <processor type="SiteKit.Processors.ValidateYamlData, SiteKit"/>
        <processor type="SiteKit.Processors.ValidatePageTypeLayout, SiteKit"/>
      </validateYamlData>
      <buildItems>
        <processor type="SiteKit.Processors.ReadYaml, SiteKit"/>
        <processor type="SiteKit.Processors.LoadTypes, SiteKit"/>
        <processor type="SiteKit.Processors.CompositionResolver, SiteKit"/>
        <processor type="SiteKit.Processors.BuildComponentCategoryFolders, SiteKit"/>
        <processor type="SiteKit.Processors.BuildComponentDatasources, SiteKit"/>
        <processor type="SiteKit.Processors.BuildPageTemplates, SiteKit"/>
        <processor type="SiteKit.Processors.BuildPageTemplatesStdValues, SiteKit"/>
        <processor type="SiteKit.Processors.BuildPageTemplatesStdValuesLayout, SiteKit"/>
        <processor type="SiteKit.Processors.BuildSharedDataFolders, SiteKit"/>
        <processor type="SiteKit.Processors.BuildRenderings, SiteKit"/>
        <processor type="SiteKit.Processors.BuildRenderingsPageContainers, SiteKit"/>
        <processor type="SiteKit.Processors.BuildPlaceholderSettingsForComponents, SiteKit"/>
        <processor type="SiteKit.Processors.BuildPlaceholderSettingsForPages, SiteKit"/>
        <processor type="SiteKit.Processors.BuildStyles, SiteKit"/>
        <processor type="SiteKit.Processors.BuildVariants, SiteKit"/>
      </buildItems>
    </pipelines>
    <events>
      <event name="item:saved">
        <handler type="SiteKit.Handlers.YamlFolderSave, SiteKit" method="OnItemSaved">
          <templateId>{34D7B2A4-C599-4E5A-B7BF-8AEBD7D18B15}</templateId>
        </handler>
      </event>
    </events>
  </sitecore>
</configuration>